Source: beegfs
Section: misc
Priority: optional
Maintainer: BeeGFS Maintainers <packages@beegfs.com>
Build-Depends: debhelper (>= 9.0.0), lsb-release, librdmacm-dev, libibverbs-dev, default-jdk, ant, kmod,
               dkms, pkg-config, zlib1g-dev
Standards-Version: 4.1.4.1

Package: beegfs-client
Architecture: all
Depends: ${misc:Depends}, build-essential
Conflicts: beegfs-client-dkms
Recommends: linux-headers-amd64
Description: BeeGFS client
 This package contains scripts, config and source files to build and
 start beegfs-client.

Package: beegfs-client-dkms
Architecture: all
Depends: ${misc:Depends}, dkms
Conflicts: beegfs-client
Recommends: linux-headers-amd64
Description: BeeGFS client (DKMS version)
 This package contains scripts, config and source files to build and
 start beegfs-client. It uses DKMS to build the kernel module.

Package: beegfs-client-compat
Architecture: all
Description: BeeGFS client compat module, allows one to run two different client versions.
 This package allows one to build and to run a compatibility client
 kernel module on a system that has a newer beegfs-client version
 installed.
Depends: ${misc:Depends}, build-essential

